* {
    margin: 0;
    padding: 0;
}

/* ***********************/
/* code for full screen */

body {
    background: #7EA273;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
    background: #E1F2DB;
}

#content-wrap {
    padding-bottom: 40px;    /* Footer height */
}

header, main, footer {
    width: 900px;
}

header {
    height: 20px;
    padding: 10px;
    background: #F8F8F8;
    text-transform: uppercase;
    justify-content: space-between;

    display: flex;
    flex-direction: row;
    align-items: center;
}

main {
    padding: 20px;
    background: #E1F2DB;
    /*height: 100vh;*/
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;            /* Footer height */
    background: #F8F8F8;
    text-align: center;
}

/* **************************/
/* code to mimic smaller phone screen

/* this is just to get the square that represents the display of the mobile device */
/*body > div {*/
    /*height: 568px;*/
    /*width: 320px;*/
    /*border:1px solid #CCC;*/
    /*background: #E1F2DB;*/

    /*position: relative;*/
/*}*/



/*footer {*/
    /*!*padding: 15px 0px; !* top+bottom left+right*!*!*/
    /*background: #F2F2F2;*/
    /*border-top: 2px solid #000000;*/
    /*text-align: center;*/
/*}*/

/* STYLES FOR THE HEADER AND FOOTER */


/*header, footer {*/
    /*background: #F2F2F2;*/
    /*position: fixed;*/
    /*width: inherit;*/
    /*height: 40px;*/
/*}*/

/*header {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*}*/

/*#header_icon_1 {*/
    /*position: absolute;*/
    /*left: 0;*/
/*}*/

/*#header_icon_2 {*/
    /*position: absolute;*/
    /*right: 0;*/
/*}*/


/*footer {*/
    /*bottom: 0px; !* TODO: figure out why this can't "bottom: 0;" . Normally a absolute position gets placed depending on the first positioned element that is not static (div in this case) *!*/
/*}*/

span.material-icons {
    color: #242424;
    font-size: 3em;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px; /* TODO: there should be a better way to vertically center the icons in the bars. */
}

nav {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
}

nav a.active span.material-icons{
    color: #25AC71;
}

/* STYLES FOR MAIN PART OF THE SCREEN -> add the css for your views here */
/*
 * !!! maybe it would be nice if someone made the css for both an observation and a group and give it class name "card"
 * this way no we don't have any redundant code. !!!
 */
/*main {*/
    /*height: 488px; !* i am not sure if we should specify this parameter *!*/
    /*width: inherit;*/
    /*position: absolute;*/
    /*top: 40px;*/

/*}*/

/**********************************/
/* styles for Hub page */
/**********************************/

#hubTitle {
    padding: 5px 5px;
}

/**********************************/
/* styles for Group page */
/**********************************/

#groupTitle {
    padding: 5px 5px;
}

/**********************************/
/* styles for an OBSERVATION CARD */
/**********************************/

#observationCardContainer {
    padding-top: 10px;
    padding-bottom: 10px;
}

#observationCard {
    background-color: #F8F8F8;
    max-width: 860px;
    /*width: 870px;*/
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px 3px rgba(0,0,0,.2);
}

#observationCardProfile {
    display: flex;
    align-items: flex-start;
    padding: 1%;
    height: 5%;
}

/*make sure the image is a perfect square */
#observationCardProfile img {
    /*border: 1px solid black;*/
    height: 100%;
    width: 4%;
    border-radius: 50%;
    display: inline-block;
    padding-top: 1%;
    padding-left: 1%;
}

#observationCardProfile h3 {
    padding: 1% 2%;
}

#observationCardPicture {
    margin-left: 2%;
    margin-right: 2%;
    height: 70%;
    width: 100%;
    justify-content: center;
    /*background-color: #002b36;*/
}

#observationCardPicture img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block; /* remove extra space below image */
}

#observationCardPictureFooter {
    padding: 1% 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4%;
    /*background-color: #002b36;*/
}

#observationCardPictureFooterLocation {
    display: flex;
    flex-direction: row;
    align-items: normal;

}

#observationCardPictureFooterLocation h4 {
    padding: 5px 5px;
}

#observationCardPictureFooterLocation img {
    height: 100%;
    width: 20px;
}

#observationCardPictureFooterButtons {
    display: flex;
    flex-direction: row;
    align-items: normal;
}

#observationCardPictureFooterButtons img {
    height: 100%;
    width: 20px;
    padding-right: 20%;
}


#observationCardComments {
    padding: 1% 2%;
    height: 4%;
    /*background-color: #002b36;*/
}

#observationCardTime {
    padding: 1% 2%;
    height: 1%;
    /*background-color: #002b36;*/
}

#observationCardTime {
    padding: 1% 2%;
    height: 1%;
    /*background-color: #002b36;*/
}

/**********************************/
/* styles for an OBSERVATION CARD */
/**********************************/

#groupCardContainer {
    padding-top: 10px;
    padding-bottom: 10px;
}

#groupCard {
    background-color: #F8F8F8;
    max-width: 860px;
    /*width: 870px;*/
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px 3px rgba(0,0,0,.2);
}

#groupCardName {
    padding: 1% 2%;
}

#groupCardInformation {
    display: flex;
    flex-direction: row;
    align-items: normal;
    height: 80%;
    padding-left: 10px;
    /*background-color: #002b36;*/
}

#groupCardPicture{
    width: 20%;
    /*background-color: #002b36;*/
}

#groupCardPicture img {
    height: 100%;
    /*background-color: #002b36;*/
}


/* STYLES FOR TEXT */
/* TODO: change the style for the headers and paragraphs */
h1,h2 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

ul {
    list-style-type: none;
}